  /*Header*/
  header{
    background-color: var(--first-color);
    background-image: url("../img/deco/background-header.jpg");
    background-position: 70% 50%;
    background-size: cover;
    color: var(--main-clear-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:45vh;
  }
  header H1{
    text-align: center;
    font-family: "myTitleFont",Times, Times New Roman, serif;
  }
  .logo{
    height: 80%;
    position: relative;
    top:10%;
  }
  h1>span{
    display: block;
    position: relative;
    left: 60%;
    bottom: 35%;
    font-size: 0.7em;
    font-family: "myTitleFont",Verdana, Geneva, Tahoma, sans-serif;
  }


  /*End header*/
/**********************/