h2{
    background-color: var(--main-clear-color);
    color: var(--first-color);
    font-family: "myTitleFont";
    text-align: center;
}
/*SERVICES*/
p{

    font-size: 1em; /* Taille de police de base */
    max-width: 80em; /* Largeur maximale de 80 caractères */
    margin-left: auto; /* Centrer le paragraphe horizontalement */
    margin-right: auto;
  
}
.services{
    display: flex;
   flex-direction: column;
  }
  .services p{
    max-width: 80%;
    align-self: center;
    text-align: center;
  }
  /*Cards*/
  .cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 80%;
    align-self: center;
    justify-content: space-around;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
    min-width: 150px;
  }
  
  .card img {
    width: 80px;
    align-self: center;
    align-items: baseline;
  
  }
  .card p{
    max-width: 350px;
    text-align: center;
  }
  /*End SERVICES*/
  /*PORTFOLIO*/
/*Player video*/
#playervideo{
  max-width: 98vw;
  height: auto;
  display: block;
  margin: auto;
}
/*end Player video*/
/*Showcase*/
.showcase{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
/*Showcase-video-link*/
.video-link{
    width: 400px;
    height: 300px;
    text-decoration: none;
    text-align: center;
    color: #141414;
    margin-top: 30px;
    text-transform: uppercase;
  }
.thumb-video{
    width: 100%;
    height: 88%;
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
  }
  .thumb-video>h4{
    color: rgb(241, 237, 237);
    background-color: #8181813d;
    font-weight: lighter;
  }
.thumb-video-arrow{
    position: relative;
    top: 20%;
  }
  .thumb-video-arrow>img{
    width: 88px;
  }
  /*End Showcase-video-link*/
/*END PORTFOLIO*/