h2{
    color: var(--main-dark-color);
    font-family: "myTitleFont";
    text-align: center;
    margin: 5px;
}
p{
  font-size: 1em; /* Taille de police de base */
  max-width: 70em; /* Largeur maximale de 80 caractères */
  margin-left: auto; /* Centrer le paragraphe horizontalement */
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 2;
  text-align: justify;
}
p::first-letter {
  /* Propriétés de mise en forme pour la première lettre */
  font-size: 125%; /* Taille de la police */
  margin-left: 0.5em; /* Marge à droite pour décaler */
}
 .only-chapter{
  max-width: var(--chapter-maxwidth);
  max-width: 85%; /* Limite la largeur à 90% du conteneur */
  margin: auto;
 }

  /*PORTFOLIO*/
/*Player video*/
#playervideo{
  max-width: 98vw;
  height: auto;
  display: block;
  margin: auto;
}
/*end Player video*/
/*Showcase*/
.showcase{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
/*Showcase-video-link*/
.video-link{
    width: 400px;
    height: 300px;
    text-decoration: none;
    text-align: center;
    color: #141414;
    margin-top: 30px;
    text-transform: uppercase;
  }
.thumb-video{
    width: 100%;
    height: 88%;
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
  }
  .thumb-video>h4{
    color: rgb(241, 237, 237);
    background-color: #8181813d;
    font-weight: lighter;
  }
.thumb-video-arrow{
    position: relative;
    top: 20%;
  }
  .thumb-video-arrow>img{
    width: 88px;
  }
  /*Modale*/
/* Décrire l'animation */
@keyframes slideDownFadeIN {
  from {top:-100px;opacity: 0;}
  to {top:0px;opacity:1;}
}

/* Foncer l'arrière-plan de la fenêtre modale */
.modal {
display: none; 
left: 0;
top: 0;
width: 100%;
height: 100%;
overflow: auto;
background-color: rgb(0, 0, 0);
background-color: rgba(0, 0, 0, 0.4);
}

/* Afficher la fenêtre modale lorsqu'elle est ciblée par un lien supprimer */
.modal:target {
display: table;
position: absolute;
}

/* la fenêtre modale  */
#id01{
  z-index: 200;
}
.modal-dialog {
display: table-cell;
vertical-align: middle;
min-width: 80%;max-width: 400px;
}

/* Le contenu de la modale */
.modal-dialog .modal-content {
margin: auto;
background-color: var(--main-clear-color);
position: relative;
padding: 0;
outline: 0;
border: 1px var(--main-dark-color) solid;
text-align: justify;
width: fit-content;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
animation-name: slideDownFadeIN;
animation-duration: 0.5s;
}

/* Bouton servant à fermer la fenêtre modale */
.closebtn {
text-decoration: none;
float: right;
font-size: 35px;
font-weight: bold;
color: var(--main-dark-color);
}

.closebtn:hover,
.closebtn:focus {
color: #000;
text-decoration: none;
cursor: pointer;
}

.container {
padding: 2px 16px;
}
/*Fin Modale*/
  /*End Showcase-video-link*/
/*END PORTFOLIO*/